.inputUser{
    display: flex;
    align-items: center;
    width: 100%;
}

.inputUser input{
    height: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
}

.addUserScreen{
    background-color: rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
}

.container_user{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
    background-color: white;
    height:auto;
    border-radius:0.5rem;
    max-width:40rem;
    padding: 1rem;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
}

