body{
  font-family: 'Helvetica Neue', Helvetica,
}


button{
    width: 4rem;
    background-color: white;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.1rem;
}
.bt_delete{
    background-color: red;
    color: white;
}
.bt_edit{
    background-color: yellow;
    color: black;
}
.bt_add{
    margin: 1rem;
    display: flex;
    width: 8rem;
    height: 3rem;
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 80%;
    border-radius: 0.5rem;
    border: 0.1rem solid;
    background-color: rgb(134, 134, 255);
}
th{
    background-color: rgb(134, 134, 255);
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
tbody{
    background-color: white;
}

td{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
